@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";


@utility container {
  margin-inline: auto;
}

@theme {
  /* ------ Container part ---------- */
  --breakpoint-*: initial;
  --breakpoint-sm: 570px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 990px;
  --breakpoint-xl: 1170px;
/* ------Color Theme ------- */
  --color-primary: #DB4444;
  --color-hide: #808080;

  /* ------------ text font theme ----------- */
  --font-poppins: "Poppins", sans-serif;
  --font-inter: "Inter", sans-serif;
  
}

h2{
  font-size: 54px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 6%;

}
p{
  font-size: 16px;
  line-height: 26px;
}
input{
  outline-style: none;
}

button{
  cursor: pointer;
}

.slick-dots {
    bottom: 20px !important; 
    left: 90px  !important;
    width: 70%  !important;
}
.slick-dots li {
    background-color: #808080;
    border-radius: 100% !important;
  }
  
  li.slick-active{
  background-color: #DB4444 !important;
  border: 4px solid #DB4444 !important;
}

/* .slick-next {
    background: red !important;
    position: absolute !important;
    top: -46px !important;
    right: 8px !important;
}
.slick-prev  {
    background: red !important;
    position: absolute !important;
    top: -46px !important;
    left: 1085px !important;
} */